@font-face {
  font-family: 'Cubano';
  src: url('../fonts/cubano.eot');
  src: url('../fonts/cubano.eot?#iefix') format('embedded-opentype'),
       url('../fonts/cubano.woff') format('woff'),
       url('../fonts/cubano.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
