@import
  "reset",
  "font",
  "animations";

@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin layout() {
  width: 100%;
  max-width: rem(740px);
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$cubano: "Cubano", Helvetica, sans-serif;

// base16 Ocean
$w1: #EFF1F5;
$w2: #DFE1E8;
$w3: #C0C5CE;
$w4: #A7ADBA;
$b2: #343D46;
$b3: #4F5B66;
$b4: #65737E;
$gr: #A3BE8C;
$rd: #BF616A;
$or: #D08770;
