$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$cubano: "Cubano", Helvetica, sans-serif;

// base16 Ocean
$w1: #EFF1F5;
$w2: #DFE1E8;
$w3: #C0C5CE;
$w4: #A7ADBA;
$b1: #2B303B;
$b2: #343D46;
$b3: #4F5B66;
$b4: #65737E;
$gr: #A3BE8C;
$bl: #8FA1B3;
$cy: #96B5B4;
$rd: #BF616A;
$or: #D08770;
$pu: #B48EAD;
$yl: #EBCB8B;

$accent: $b4;
$rgc: #F79222;

@import "reset";
@import "font";
@import "fade";

@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin layout() {
  width: 100%;
  max-width: rem(740px);
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: $b2;
  font: 16px $font-family;
  background: $w1;
  box-shadow: inset 0 4px $gr;
  -webkit-font-smoothing: antialiased;
  opacity: 0;
  animation: fade 500ms ease 500ms forwards;

  @media screen and (max-height: 800px) { height: auto; }
}

header {
  @include layout();
  display: flex;
  padding: rem(60px) 0;

  h1 {
    color: $w3;
    color: $gr;
    font: 42px $cubano;
    padding-left: rem(20px);
  }
}

main {
  @include layout();
  flex-direction: column;
  flex: 1;

  h2 {
    margin-bottom: rem(60px);
    padding-bottom: rem(60px);
    padding-left: rem(20px);
    padding-right: rem(20px);
    color: $b3;
    font-size: rem(28px);
    font-weight: 600;
    line-height: 1.6;
    box-shadow: 0 1px $w2;

    @media screen and (max-width: rem(500px)) {
      br { display: none; }
    }
  }

  a {
    color: $w4;
    box-shadow: 0 2px $w2;
    transition: all 300ms ease;

    &:hover {
      color: $gr;
      box-shadow: 0 4px $gr;
      transition: all 200ms ease;
    }
  }

  p {
    max-width: rem(600px);
    margin-bottom: rem(60px);
    padding-left: rem(20px);
    padding-right: rem(20px);
    color: $b4;
    font-size: rem(18px);
    font-weight: 500;
    line-height: 1.8;
  }
}

.loveyourcode {
  margin-top: auto;
  display: flex;
  align-items: center;
  padding: rem(20px);
  border-top: 1px solid $w2;

  i { font-size: rem(15px); }

  .fa-heart {
    color: $rd;
    padding-right: 2px;
  }

  .fa-code {
    color: $gr;
    padding-right: rem(20px);
  }

  q {
    margin-left: auto;
    color: $w4;
    font-size: rem(14px);
    font-weight: 500;
    quotes: "“" "”";

    &:before {
      content: open-quote;
      font-size: rem(16px);
    }

    span {
      font-style: italic;

      &:before {
        content: close-quote ' - ';
        font-size: rem(16px);
        font-weight: 500;
        font-style: normal;
      }
    }
  }
}

footer {
  margin-top: auto;
  background: linear-gradient($b3, $b4);
  padding-left: rem(40px);
  padding-right: rem(40px);

  .container {
    @include layout();
    flex-wrap: wrap;
    padding: rem(40px) 0;
    padding-right: 0;
  }

  @media screen and (max-width: rem(740px)) {
    .container section { width: 100%; }

    .links { padding-top: rem(40px); }
  }

  @media screen and (max-width: rem(500px)) {
    padding-left: rem(10px);
    padding-right: rem(10px);

    .container { padding: rem(20px) 0; }

    a {
      width: 100%;
      display: inline-block;
      padding: 10px 0;
    }

    .contact-card__contact .contact__email { margin-bottom: 0; }

    .contact-card__contact .contact__call:before {
      content: 'Give me a call at ';
    }
  }
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex: 1;

  a {
    display: inline-block;
    color: $w4;
    font-size: rem(16px);
    font-weight: 500;
    box-shadow: 0 1px $b4;
    transition: all 500ms ease;

    &:not(:last-child) { margin-right: rem(20px); }

    &:hover {
      color: $gr;
      box-shadow: 0 2px $gr;
      transition: all 200ms ease;
    }
  }
}

.contact-card {
  position: relative;
  padding: rem(20px);
  padding-left: rem(60px);
  background: $w1;
  border-radius: 40px 40px 4px 40px;
  box-shadow: 0 4px 22px 2px rgba(#000, .12);
  opacity: 0;
  transform-origin: 100% 100%;
  animation: contact 500ms ease 1000ms forwards;

  &__mark {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: rem(20px);
    color: $gr;
    font: 34px $cubano;
  }

  &__name {
    color: $b4;
    font-size: rem(18px);
    font-weight: 500;
  }

  &__title {
    padding-bottom: rem(14px);
    color: $w4;
    font-size: rem(12px);
    font-weight: 600;
  }

  &__contact {
    font-size: rem(14px);
    font-weight: 500;

    a {
      color: $b4;
      box-shadow: 0 1px $w2;
      transition: all 500ms ease;

      span {
        color: $bl;
        transition: color 500ms ease;
      }

      &:hover {
        color: $gr;
        box-shadow: 0 2px $gr;
        transition: all 200ms ease;

        span {
          color: $b2;
          transition: color 200ms ease;
        }
      }
    }

    .contact__email {
      display: inline-block;
      margin-bottom: rem(8px);

      &:before {
        content: 'Write me at ';
        color: $w3;
        transition: color 500ms ease;
      }

      &:hover:before {
        color: $b3;
        transition: color 200ms ease;
      }
    }

    .contact__call {
      &:before {
        content: 'or give me a call at ';
        color: $w3;
        transition: color 500ms ease;
      }

      &:hover:before {
        color: $b3;
        transition: color 200ms ease;
      }
    }
  }
}
